In [1]:
import pandas as pd
import yfinance as yf

In [2]:
stock_list = [
    "AAPL",
    "AMZN",
    "WMT",
    "TSLA",
    "GE",
    "DB"
]

In [3]:
df = yf.download(stock_list, "2018-01-01")

[*********************100%***********************]  6 of 6 completed

In [4]:
returns = df["Adj Close"]

returns.head(15)

                 AAPL       AMZN         DB          GE       TSLA        WMT
Date
2018-01-02  40.950497  59.450500  18.406420  103.273827  21.368668  89.974998
2018-01-03  40.943363  60.209999  18.244541  104.250275  21.150000  90.759842
2018-01-04  41.133545  60.479500  18.825399  106.432915  20.974667  90.841972
2018-01-05  41.601864  61.457001  17.663687  106.490356  21.105333  91.380417
2018-01-08  41.447346  62.343498  17.425632  104.996964  22.427334  92.731079
2018-01-09  41.442589  62.634998  17.263756  106.605232  22.246000  91.617691
2018-01-10  41.433075  62.716499  17.616076  108.730453  22.320000  90.960625
2018-01-11  41.668423  63.834000  17.673210  109.247398  22.530001  91.280022
2018-01-12  42.098698  65.260002  17.806522  107.754021  22.414667  92.055771
2018-01-16  41.884754  65.242996  17.625599  104.594887  22.670668  91.891495
2018-01-17  42.576538  64.750000  17.635122   99.655212  23.143999  93.725838
2018-01-18  42.614574  64.666000  17.644644   96.323814  22.971333  95.186035
2018-01-19  42.424393  64.728996  17.882698   93.394478  23.334667  95.450706
2018-01-22  42.077309  66.365501  18.463552   92.877518  23.437332  96.235550
2018-01-23  42.086819  68.126999  18.539730   97.013077  23.519333  96.646225

In [5]:
returns.to_csv("../tests/data/stocks.csv")

In [6]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1263 entries, 2018-01-02 to 2023-01-06
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    1263 non-null   float64
 1   AMZN    1263 non-null   float64
 2   DB      1263 non-null   float64
 3   GE      1263 non-null   float64
 4   TSLA    1263 non-null   float64
 5   WMT     1263 non-null   float64
dtypes: float64(6)
memory usage: 69.1 KB